<div class="eqLogic eqLogic-widget #eqType# allowResize" style="width:#width#;height:#height#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" >
	<center class="widget-name">
		<span class="warning" title="#alert_name#">
			<i class='#alert_icon#'></i>
		</span>
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="/index.php?v=d&m=mybin&p=mybin" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
	</center>   
    <div class="notifs">
        <center>
            #binnotifs#
        </center>
    </div>
    <br/>
    <center class="calendar">
        <div style="width: 90%;">
            <div style="width: 14%; float: left;"><center>#day1#</center><center>#date1#</center></div>
            <div style="width: 14%; float: left;"><center>#day2#</center><center>#date2#</center></div>
            <div style="width: 14%; float: left;"><center>#day3#</center><center>#date3#</center></div>
            <div style="width: 14%; float: left;"><center>#day4#</center><center>#date4#</center></div>
            <div style="width: 14%; float: left;"><center>#day5#</center><center>#date5#</center></div>
            <div style="width: 14%; float: left;"><center>#day6#</center><center>#date6#</center></div>
            <div style="width: 14%; float: left;"><center>#day7#</center><center>#date7#</center></div>
        </div>
        <div style="width: 90%;">
            <div style="width: 14%; float: left;"><center>#binimg_day1#</center></div>
            <div style="width: 14%; float: left;"><center>#binimg_day2#</center></div>
            <div style="width: 14%; float: left;"><center>#binimg_day3#</center></div>
            <div style="width: 14%; float: left;"><center>#binimg_day4#</center></div>
            <div style="width: 14%; float: left;"><center>#binimg_day5#</center></div>
            <div style="width: 14%; float: left;"><center>#binimg_day6#</center></div>
            <div style="width: 14%; float: left;"><center>#binimg_day7#</center></div>
        </div>
    </center>
    <script>
        #binscript#

        if ('#bincalendar#' == ''){
            $('.eqLogic[data-eqLogic_uid=#uid#] .calendar').remove();
        }
        if ('#binnotifs#' == ''){
            $('.eqLogic[data-eqLogic_uid=#uid#] .notifs').remove();
        }
    </script> 
</div>