<div class="eqLogic eqLogic-widget #eqType#" style="width:#width#;height:#height#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" >
	<center class="widget-name">
		<span class="warning" title="#alert_name#">
			<i class='#alert_icon#'></i>
		</span>
        <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
			<i class="fas fa-sync"></i>
		</span>
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
	</center>   
    <div style="height: 70px">
        <center>
            <span class="nobin" style="vertical-align: middle; display: table-cell;">
                <i>Il n'y a (plus) aucune poubelle à sortir</i>
            </span>
            <span class="cmd ack1 cursor" data-type="info" data-subtype="binary">
                <img src="plugins/mybin/data/images/#bin1img#.png" width="70px">
            </span>
            <span class="cmd ack2 cursor" data-type="info" data-subtype="binary">
                <img src="plugins/mybin/data/images/#bin2img#.png" width="70px">
            </span>
            <span class="cmd ack3 cursor" data-type="info" data-subtype="binary">
                <img src="plugins/mybin/data/images/#bin3img#.png" width="70px">
            </span>
            <span class="cmd ack4 cursor" data-type="info" data-subtype="binary">
                <img src="plugins/mybin/data/images/#bin4img#.png" width="70px">
            </span>
        </center>
    </div>
    <br/>
    <div>
        <center>
            <table style="width: 90%;">
                <tr>
                    <th style="width: 14%;"><center>#day1#</center><center>#date1#</center></th>
                    <th style="width: 14%;"><center>#day2#</center><center>#date2#</center></th>
                    <th style="width: 14%;"><center>#day3#</center><center>#date3#</center></th>
                    <th style="width: 14%;"><center>#day4#</center><center>#date4#</center></th>
                    <th style="width: 14%;"><center>#day5#</center><center>#date5#</center></th>
                    <th style="width: 14%;"><center>#day6#</center><center>#date6#</center></th>
                    <th style="width: 14%;"><center>#day7#</center><center>#date7#</center></th>
                </tr>
                <tr>
                    <td style="width: 14%;"><center>#binimg_day1#</center></td>
                    <td style="width: 14%;"><center>#binimg_day2#</center></td>
                    <td style="width: 14%;"><center>#binimg_day3#</center></td>
                    <td style="width: 14%;"><center>#binimg_day4#</center></td>
                    <td style="width: 14%;"><center>#binimg_day5#</center></td>
                    <td style="width: 14%;"><center>#binimg_day6#</center></td>
                    <td style="width: 14%;"><center>#binimg_day7#</center></td>
                </tr>
            </table>
        </center>
    </div>
    <script>
        if ('#ack1_id#' != ''){
            $('.eqLogic[data-eqLogic_uid=#uid#] .nobin').remove();
            $('.eqLogic[data-eqLogic_uid=#uid#] .ack1').on('click', function () {
                jeedom.cmd.execute({id: '#ack1_id#'});
            });
        } else {
            $('.eqLogic[data-eqLogic_uid=#uid#] .ack1').remove();
        }
        if ('#ack2_id#' != ''){
            $('.eqLogic[data-eqLogic_uid=#uid#] .nobin').remove();
            $('.eqLogic[data-eqLogic_uid=#uid#] .ack2').on('click', function () {
                jeedom.cmd.execute({id: '#ack2_id#'});
            });
        } else {
            $('.eqLogic[data-eqLogic_uid=#uid#] .ack2').remove();
        }
        if ('#ack3_id#' != ''){
            $('.eqLogic[data-eqLogic_uid=#uid#] .nobin').remove();
            $('.eqLogic[data-eqLogic_uid=#uid#] .ack3').on('click', function () {
                jeedom.cmd.execute({id: '#ack3_id#'});
            });
        } else {
            $('.eqLogic[data-eqLogic_uid=#uid#] .ack3').remove();
        }
        if ('#ack4_id#' != ''){
            $('.eqLogic[data-eqLogic_uid=#uid#] .nobin').remove();
            $('.eqLogic[data-eqLogic_uid=#uid#] .ack4').on('click', function () {
                jeedom.cmd.execute({id: '#ack4_id#'});
            });
        } else {
            $('.eqLogic[data-eqLogic_uid=#uid#] .ack4').remove();
        }
        if ('#refresh_id#' != ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh_id#'});
			});
		}else{
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
		}
    </script> 
</div>