<div class="eqLogic eqLogic-widget allowResize #eqType#" style="width:#width#;height:#height#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" >
	<center class="widget-name">
		<span class="warning" title="#alert_name#">
			<i class='#alert_icon#'></i>
		</span>
        <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
			<i class="fas fa-sync"></i>
		</span>
		<span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
		<a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
	</center>   
    <div>
        <center>
            <span class="cmd ack cursor" data-type="info" data-subtype="string" data-cmd_id="#globalstatus_id#">
                <img src="plugins/mybin/data/images/#binimg#.png" width="70px">
            </span>
        </center>
    </div>
    <div>
        <center>
            <table style="width: 90%;">
                <tr>
                    <th style="width: 14%;">#day1#</th>
                    <th style="width: 14%;">#day2#</th>
                    <th style="width: 14%;">#day3#</th>
                    <th style="width: 14%;">#day4#</th>
                    <th style="width: 14%;">#day5#</th>
                    <th style="width: 14%;">#day6#</th>
                    <th style="width: 14%;">#day7#</th>
                </tr>
                <tr>
                    <td style="width: 14%;"><center><img src="plugins/mybin/data/images/#binimg_day1#.png" width="20px"></center></td>
                    <td style="width: 14%;"><center><img src="plugins/mybin/data/images/#binimg_day2#.png" width="20px"></center></td>
                    <td style="width: 14%;"><center><img src="plugins/mybin/data/images/#binimg_day3#.png" width="20px"></center></td>
                    <td style="width: 14%;"><center><img src="plugins/mybin/data/images/#binimg_day4#.png" width="20px"></center></td>
                    <td style="width: 14%;"><center><img src="plugins/mybin/data/images/#binimg_day5#.png" width="20px"></center></td>
                    <td style="width: 14%;"><center><img src="plugins/mybin/data/images/#binimg_day6#.png" width="20px"></center></td>
                    <td style="width: 14%;"><center><img src="plugins/mybin/data/images/#binimg_day7#.png" width="20px"></center></td>
                </tr>
            </table>
        </center>
    </div>
    <script>    
        $('.eqLogic[data-eqLogic_uid=#uid#] .ack').on('click', function () {
            jeedom.cmd.execute({id: '#ack_id#'});
        });
        if ('#refresh_id#' != ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh_id#'});
			});
		}else{
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
		}
    </script> 
</div>