#customBin {
    background: no-repeat url("../../core/assets/icon_bkg.png") !important;
    /*background-image:url("../../core/assets/icon_bkg.png") !important;*/
	background-size: 60% !important;
	/*background-repeat: no-repeat !important;*/
	background-position: center 0% !important;
    margin-top: 15px !important;
}

#customBinImg {
    min-height: 80px !important;
    max-height: 80px;
    width: auto !important;
    max-width: 80px !important;
    overflow: hidden;
    vertical-align: baseline;
}