#customBin {
    background: no-repeat url("../../core/assets/icon_bkg.png") !important;
    /*background-image:url("../../core/assets/icon_bkg.png") !important;*/
	background-size: 90% !important;
	/*background-repeat: no-repeat !important;*/
	background-position: center 0% !important;
}